<%- include('partials/header') %>
<div class="form-container">
    <h2>Candidate Profile</h2>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <% if(!locals.success) { %>
        <form method="post" enctype="multipart/form-data">
             <div class="form-group">
                <label for="name">Name <span class="red">*</span></label>
                <input type="text" name="name" id="name" class="form-control"  value="<%= locals.name  || '' %>" required />
                
            </div>
             <div class="form-group">
                <label for="email">Email <span class="red">*</span></label>
                <input type="email" name="emails" id="emails" class="form-control" value="<%= locals.emails  || '' %>" required />
            </div>
            <div class="form-group">
                <label for="webAddress">Web Address <span class="red">*</span></label>
                <input type="url" name="webAddress" id="webAddress" class="form-control" value="<%= locals.webAddress  || '' %>" required/>
            </div>
            <div class="form-group">
                <label for="coverLetter">Cover Letter (Optional but recommended)</label>
                <textarea name="coverLetter" id="coverLetter" class="form-control" rows="5" value="<%= locals.coverLetter  || '' %>"></textarea>
            </div> 
            <div class="form-group">
                <label for="cv">Attachement (CV) <span class="red">*</span></label>
                <input type="file" name="cv" id="cv" accept="application/pdf, .pdf" required />
            </div>
            
            <div class="form-group">
                <label for="workingQs">Do you like working? (Yes/No) <span class="red">*</span></label>
                <label class="radio-inline"><input type="radio" name="workingQs" value="Yes" required />Yes </label>
                <label class="radio-inline"><input type="radio" name="workingQs" value="No"  required /> No </label>
            </div>
            <div class=form-group>
                <label for="capatcha" class="" >Type the characters show below : </label>
                 <div class="captcha">
                    <input type="text" name="captcha" id="captcha" maxlength="4" class="form-control captcha-input" required />
                     <%- captchaImg %>
               </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    <% } %>
</div>


<%- include('partials/footer') %>